<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">User Lists</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>F Name</th>
                    <th>L Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUser">
                    <td>{{ user._id }}</td>
                    <td>{{ user.fname }}</td>
                    <td>{{ user.lname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>
                        <a [routerLink]="['/userDetail/'+user._id]" target="_blank" style="padding-right:5px">
                            <button class="btn btn-info btn-circle">
                                <i class="fas fa-info"></i>
                            </button>
                        </a>
                        <a [routerLink]="['/userEdit/'+user._id]" target="_blank" style="padding-right:5px">
                            <button class="btn btn-info btn-circle">
                                <i class="fas fa-info"></i>
                            </button>
                        </a>
                        <button (click)="openConfirmationDialog(user._id)" class="btn btn-danger btn-circle">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
