<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->
  
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">User Update</h1>
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="getUserDetail.fname" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"  placeholder="First name" formControlName="fname">
                    <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                        <div *ngIf="f.fname.errors.required">First Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="getUserDetail.lname" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"  placeholder="Last name" formControlName="lname">
                    <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                        <div *ngIf="f.lname.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="getUserDetail.email" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter email" 
                    formControlName="email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="phone">Phone:</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="getUserDetail.phone" pattern="[0-9]*" minlength="10" maxlength="10" 
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" 
                    placeholder="Enter phone number" formControlName="phone">
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone Number is required</div>                
                        <div *ngIf="f.phone.errors.minlength">Phone must be a valid phone number</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary mr-1" ng-disabled="updateForm.$invalid">Update</button>            
                </div>
            </div>    
        </form>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
  
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->